#about {
  display: grid;
  justify-content: center;
  gap: var(--size-4) var(--size-8);

  @media screen and (width >= 850px) {
    grid-template-columns: repeat(2, auto);
    justify-items: start;

    h2,
    p {
      text-align: start;
    }
  }

  @media screen and (width < 850px) {
    h2 {
      margin-block-start: var(--size-4);
    }
  }

  img {
    grid-row: span 2;
    inline-size: var(--size-14);
    border-radius: var(--radius-4);
  }

  h2 {
    margin-block-end: var(--size-3);
  }

  article {
    display: grid;
    gap: inherit;
  }
}
