#about {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  justify-items: start;
  gap: var(--size-4) var(--size-8);

  img {
    grid-row: span 2;
    inline-size: var(--size-14);
    border-radius: var(--radius-4);
  }

  h2 {
    margin-block-end: var(--size-3);
  }

  article {
    display: grid;
    gap: inherit;
  }

  h2,
  p {
    text-align: start;
  }
}
