#faq {
  gap: var(--size-4);

  details:first-of-type {
    margin-block-start: var(--size-6);
  }

  h5 {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-6);
  }

  a {
    font-weight: var(--font-weight-7);
  }

  .message {
    margin-block-end: var(--size-8);
  }
}
