section#landing {
  position: relative;
  display: grid;
  block-size: 100dvh;
  scroll-snap-align: start;
  view-timeline: --landing;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('assets/landing.jpg') no-repeat center / cover;
    filter: brightness(0.6);
    z-index: -1;
  }

  q {
    align-self: end;
    margin-block-end: var(--size-9);
    margin-inline: var(--size-9);
    font-family: var(--heading-font-family);
    font-size: clamp(var(--size-px-7), 5vw, var(--size-11));
    line-height: var(--font-lineheight-0);
    text-wrap: balance;
    color: var(--md-sys-color-inverse-on-surface);
  }
}
