:root {
  --color-surface: hsl(23, 100%, 96%);
  --color-surface-variant: hsl(22, 34%, 73%);
  --color-primary: hsl(0, 100%, 28%);
  --color-secondary: hsl(150, 20%, 40%);
  --color-tertiary: hsl(190, 30%, 35%);
  --color-text: hsl(0, 5%, 8%);
  --color-graphics: hsl(0, 40%, 34%);

  --font-display: 'Savoye Let';
  --font-body: 'Inter', sans-serif;
}

@font-face {
  font-family: 'Savoye Let';
  src: url('/fonts/savoyeletplain.ttf');
}

@font-face {
  font-family: 'Sulat Rizal';
  src: url('/fonts/SulatRizal.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf');
}
