:root {
  --color-surface: hsl(5, 35%, 80%);
  --color-surface-variant: hsl(22, 34%, 73%);
  --color-heading: hsl(0, 100%, 28%);
  --color-text: hsl(0, 5%, 8%);
  --color-graphics: hsl(0, 40%, 34%);

  --font-heading: 'Savoye Let', cursive;
}

@font-face {
  font-family: 'Savoye Let';
  src: url('assets/fonts/savoyeletplain.ttf');
}
