@import './styles/theme.css' layer(theme);

@import 'https://unpkg.com/open-props' layer(base);

@import './styles/components/button.css' layer(component);
@import './styles/components/details.css' layer(component);
@import './styles/components/message.css' layer(component);

@import './styles/header.css' layer(feature);
@import './styles/landing.css' layer(feature);
@import './styles/massages.css' layer(feature);
@import './styles/about.css' layer(feature);
@import './styles/faq.css' layer(feature);
@import './styles/contact.css' layer(feature);

@layer reset {
  :not(app-service-card, ui-banner) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-wrap: pretty;
  }

  ol,
  ul {
    list-style: none;
  }

  a {
    color: inherit;

    &:has(h1) {
      text-decoration: none;
    }
  }

  iframe {
    border: none;
  }
}

@layer base {
  :root {
    scroll-behavior: smooth;
    --section-block-size: 100dvh;
    --section-block-start-gutter: calc(var(--size-9) + var(--section-gutter));
    --section-gutter: var(--size-5);
  }

  body {
    min-block-size: 100dvh;
    background-color: var(--color-surface);
    color: var(--color-text);
  }

  h1 {
    font-size: var(--font-size-6);
  }

  h2 {
    font-size: var(--font-size-5);
  }

  :is(h1, h2) {
    font-family: var(--font-display);
    font-weight: var(--font-weight-7);
    color: var(--color-primary);
    text-box: trim-both cap alphabetic;

    :not(&) {
      font-family: var(--font-body);
    }
  }

  p {
    line-height: var(--font-lineheight-3);
  }

  section {
    display: grid;
    gap: var(--size-8);
    justify-items: center;
    padding: var(--section-block-start-gutter) var(--section-gutter);

    &:nth-child(2) {
      padding-block-start: var(--size-3);
    }

    &:not(:nth-child(2)) {
      min-block-size: 100dvh;
    }

    &:not(:first-child):nth-child(odd) {
      background-color: color-mix(in oklch, var(--color-surface-variant), var(--color-surface) 60%);
    }

    h2 {
      text-align: center;
      text-transform: capitalize;

      + p.intro {
        font-size: var(--font-size-3);
        margin-block-end: var(--size-3);
      }
    }

    > p,
    article:not(.card, .group, .message) p {
      max-inline-size: calc(1.2 * var(--size-content-3));
      text-align: center;
    }
  }

  .text-nowrap {
    text-wrap: nowrap;
  }
}

header {
  position: fixed;
  inset-inline: 0;
  z-index: 1000;
}
